<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:/Documents/Path of Building/Builds/DeeMyArc.xml"/>
		<Arg string="DeeMyArc"/>
	</Mode>
	<Accounts lastAccountName="SteamCovan#3373" lastRealm="PC">
		<Account accountName="dmytro_cheva#4815"/>
		<Account accountName="SteamCovan#3373"/>
	</Accounts>
	<SharedItems/>
	<Misc nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" dpiScaleOverridePercent="0" POESESSID="" colorNegative="^xDD0022" invertSliderScrollDirection="false" colorHighlight="^xFF0000" showFlavourText="true" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," showPublicBuilds="true" decimalSeparator="." disableDevAutoSave="false" defaultItemAffixQuality="0.5" showTitlebarName="true" showWarnings="true" slotOnlyTooltips="true" migrateEldritchImplicits="true" betaTest="true" defaultGemQuality="0" defaultCharLevel="1" connectionProtocol="0" showAnimations="true" showAllItemAffixes="true" notSupportedModTooltips="true" buildSortMode="NAME"/>
</PathOfBuilding>
