<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:/Documents/Path of Building/Builds/PlootLoot Blood.xml"/>
		<Arg string="PlootLoot Blood"/>
	</Mode>
	<Accounts lastRealm="PC" lastAccountName="SteamCovan#3373">
		<Account accountName="dmytro_cheva#4815"/>
		<Account accountName="SteamCovan#3373"/>
	</Accounts>
	<SharedItems/>
	<Misc buildSortMode="NAME" nodePowerTheme="RED/BLUE" colorPositive="^x33FF77" disableDevAutoSave="false" showAllItemAffixes="true" colorNegative="^xDD0022" showAnimations="true" colorHighlight="^xFF0000" showFlavourText="true" showThousandsSeparators="true" edgeSearchHighlight="true" thousandsSeparator="," decimalSeparator="." showPublicBuilds="true" defaultItemAffixQuality="0.5" showTitlebarName="true" dpiScaleOverridePercent="0" showWarnings="true" slotOnlyTooltips="true" migrateEldritchImplicits="true" connectionProtocol="0" notSupportedModTooltips="true" POESESSID="" betaTest="true" defaultGemQuality="0" defaultCharLevel="1" invertSliderScrollDirection="false"/>
</PathOfBuilding>
